<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - .NET Core 3.0</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    </environment>


</head>
<body>


    <!-- Wrapper-->
    <div id="wrapper" class="@Html.PageClass()">

        <!-- Navigation -->
        <partial name="_Navigation" />

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">

            <!-- Top Navbar -->
            <partial name="_TopNavbar" />

            <!-- Main view  -->
            @RenderBody()

            <!-- Footer -->
            <partial name="_Footer" />

        </div>
        <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/Popper/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/metisMenu/dist/jquery.metisMenu.js"></script>
        <script src="~/lib/slimScroll/jquery.slimscroll.js"></script>
        <script src="~/lib/pace/pace.js"></script>
        <script src="~/js/script.js" asp-append-version="true"></script>
        <script src="~/lib/i18next/i18next.js"></script>

        <!-- Only for demo purpose -->
        <script src="~/js/skin.config.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/Popper/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/metisMenu/dist/jquery.metisMenu.js"></script>
        <script src="~/lib/pace/pace.min.js"></script>
        <script src="~/lib/slimScroll/jquery.slimscroll.min.js"></script>
        <script src="~/js/script.js" asp-append-version="true"></script>
        <script src="~/lib/i18next/i18next.min.js"></script>
    </environment>

    <script type="text/javascript">

        $(document).ready(function () {

            $.i18n.init({
                resGetPath: '../locales/__lng__/__ns__.json',
                fallbackLng: false,
                lng: 'zh-Hans',
                cleanCode: true,
                ns: 'all'
            }, function (t) {
                $('.i18container').i18n();
                $('#side-menu').i18n();
                $('.navbar-top-links').i18n();
            });

            $('.set_en').on('click', function () {
                i18n.setLng('en-US', function () {
                    $('.i18container').i18n();
                    $('#side-menu').i18n();
                    $('.navbar-top-links').i18n();

                    $('.set_es').removeClass('active');
                    $('.set_en').addClass('active');
                    $('.set_zh').removeClass('active');
                    $('.set_zh_hant').removeClass('active');
                });
            });

            $('.set_es').on('click', function () {
                i18n.setLng('es', function () {
                    $('.i18container').i18n();
                    $('#side-menu').i18n();
                    $('.navbar-top-links').i18n();

                    $('.set_es').addClass('active');
                    $('.set_en').removeClass('active');
                    $('.set_zh').removeClass('active');
                    $('.set_zh_hant').removeClass('active');
                });
            });

            $('.set_zh').on('click', function () {
                i18n.setLng('zh-Hans', function () {
                    $('.i18container').i18n();
                    $('#side-menu').i18n();
                    $('.navbar-top-links').i18n();

                    $('.set_es').removeClass('active');
                    $('.set_en').removeClass('active');
                    $('.set_zh').addClass('active');
                    $('.set_zh_hant').removeClass('active');
                });
            });

            $('.set_zh_hant').on('click', function () {
                i18n.setLng('zh-Hant', function () {
                    $('.i18container').i18n();
                    $('#side-menu').i18n();
                    $('.navbar-top-links').i18n();

                    $('.set_es').removeClass('active');
                    $('.set_en').removeClass('active');
                    $('.set_zh').removeClass('active');
                    $('.set_zh_hant').addClass('active');
                });
            });
        });

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
